.react-calendar-heatmap .color-pain-0 {
    fill: #1e6823;
  }
  .react-calendar-heatmap .color-pain-1 {
    fill: #44a340;
  }
  .react-calendar-heatmap .color-pain-2 {
    fill: #8cc665;
  }
  .react-calendar-heatmap .color-pain-3 {
    fill: #d6e685;
  }
  .react-calendar-heatmap .color-pain-4 {
    fill: #e6a485;
  }
  .react-calendar-heatmap .color-pain-5 {
    fill: #f3763c;
  }
  .react-calendar-heatmap .color-pain-6 {
    fill: #ef6128;
  }
  .react-calendar-heatmap .color-pain-7 {
    fill: #f15518;
  }
  .react-calendar-heatmap .color-pain-8 {
    fill: #f33b16;
  }
  .react-calendar-heatmap .color-pain-9 {
    fill: #f61a1a;
  }
  .react-calendar-heatmap .color-pain-10 {
    fill: #ff0000;
  }