.react-calendar-heatmap .color-pain-0 {
    fill: #1e6823 !important;
  }
  .react-calendar-heatmap .color-pain-1 {
    fill: #44a340 !important;
  }
  .react-calendar-heatmap .color-pain-2 {
    fill: #8cc665 !important;
  }
  .react-calendar-heatmap .color-pain-3 {
    fill: #d6e685 !important;
  }
  .react-calendar-heatmap .color-pain-4 {
    fill: #e6a485 !important;
  }
  .react-calendar-heatmap .color-pain-5 {
    fill: #f3763c !important;
  }
  .react-calendar-heatmap .color-pain-6 {
    fill: #ef6128 !important;
  }
  .react-calendar-heatmap .color-pain-7 {
    fill: #f15518 !important;
  }
  .react-calendar-heatmap .color-pain-8 {
    fill: #f33b16 !important;
  }
  .react-calendar-heatmap .color-pain-9 {
    fill: #f61a1a !important;
  }
  .react-calendar-heatmap .color-pain-10 {
    fill: #ff0000 !important;
  }